<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta name="_ctx" th:content="${contextPath}"/>
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
	<!-- Favicon -->
	<link rel="shortcut icon" th:href="@{/web/static/images/site/favicon.ico}" type="image/x-icon"/>
	<title th:text="(${#strings.isEmpty(appShortName)}  ? 'APP' : ${appShortName}) + (${#strings.isEmpty(pageName)} ?  '' : ' | ' +${pageName})"></title>
	<!-- Error style -->
	<link rel="stylesheet" th:href="@{'/web/static/css/common/error'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</head>
<body class="text-sm">

<div th:remove="tag" th:replace="~{${view} :: content}">
	CONTENT
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {

		const btn = document.getElementById('btnSignInOut');
		if (!btn) return;

		btn.addEventListener('click', function (e) {
			e.preventDefault();
			// ================= SIGN OUT =================
			const csrfToken = document.querySelector('meta[name="_csrf"]')?.getAttribute('content');
			const csrfHeader = document.querySelector('meta[name="_csrf_header"]')?.getAttribute('content');

			fetch(getContextPath() + '/web/sec/logout', {
				method: 'POST',
				headers: {
					...(csrfHeader && csrfToken ? {[csrfHeader]: csrfToken} : {})
				},
				credentials: 'same-origin'
			})
					.then(() => {
						// Spring Security already cleared session
						window.location.href = getContextPath() + '/web/pub/login';
					})
					.catch(() => {
						// fallback
						window.location.href = getContextPath() + '/web/pub/login';
					});

		});

	});

	function getContextPath() {
		return window.location.pathname.substring(0, window.location.pathname.indexOf("/", 2));
	}
</script>

</body>
</html>
