<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
	<link rel="stylesheet" th:href="@{'/web/static/css/app/dashboard/page'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
	<script th:src="@{'/web/static/js/app/dashboard/page'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Dashboard</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<i class="fa fa-home mr-1"></i>
							<a th:href="@{/}">Home</a>
						</li>
						<li class="breadcrumb-item active"><i class="nav-icon icon-display mr-1"></i> Dashboard</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<!-- /Content Header (Page header) -->

	<!-- Main content -->
	<section class="content">
		<div class="callout callout-info">
			<h5><i class="fas fa-info"></i> Note:</h5>
			This is our awesome dashboard screen.
		</div>
	</section>
	<!-- /Main content -->

</div>
</html>
