@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../fonts/SourceSansPro-Regular.woff2') format('woff2');
}

body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);
}

.card {
    width: 40%;
    box-shadow: 0 4px 5px silver;
    margin: 100px auto;
    text-align: center;
}

.cardHeader {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 2px;
    color: #979797;
    padding: 1px;
}

.cardHeader h1 {
    margin-top: 30px;
}

.cardHeader h1 span {
    display: inline-block;
    margin-left: 5px;
    padding: 2px;
    border: 1px solid #eeeeee;
    overflow: hidden;
}

.cardHeader h1 span strong {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 80px;
    text-shadow: 1px 1px #eeeeee;
    display: inline-block;
    padding: 0 20px 20px;
    border: 1px solid #eeeeee;
    font-weight: normal;
}

.cardContent {
    background-color: #EAEAEA;
    color: #808080;
    padding-top: 10px;
}

.cardContent h2 {
    font-size: 60px;
    margin: 0 0 15px 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    line-height: normal;
}

.cardContent h2 span {
    display: block;
    font-size: 24px;
}

.cardFooter {
    font-family: 'Source Sans Pro', serif;
    color: #778899;
    margin: 5px;
    padding: 10px 30px 30px 30px;
    font-size: 13px;
}

.cardFooter a {
    color: #008080;
}

.userName {
    text-transform: capitalize;
    color: #333333;
    font-size: 15px;
    font-style: italic
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    margin-bottom: 5px;
    margin-top: 5px;
}