<section class="card" th:fragment="content">
	<div class="cardHeader">
		<h1>
			<span>
				<strong>4</strong>
			</span>
			<span>
				<strong>0</strong>
			</span>
			<span>
				<strong>3</strong>
			</span>
		</h1>
	</div>
	<div class="cardContent">
		<h2>
			Error !
			<span>Access Denied</span>
		</h2>
		<hr/>
		<div class="cardFooter">
			<p>
				Sorry
				<span class="userName" th:text="${loginAdministratorName}"></span>
				! You don't have permission to access this content.
			</p>
			Goback to
			<a th:href="@{/}">Home</a>
			(or)
			<a href="#" id="btnSignInOut">Sign In</a>
			with different Account.
		</div>
	</div>
</section>