<section class="card" th:fragment="content">
	<div class="cardHeader">
		<h1>
			<span>
				<strong>4</strong>
			</span>
			<span>
				<strong>0</strong>
			</span>
			<span>
				<strong>4</strong>
			</span>
		</h1>
	</div>
	<div class="cardContent">
		<h2>
			Error !
			<span>Page Not Found</span>
		</h2>
		<hr/>
		<div class="cardFooter">
			<p>The page you are looking for has been removed,had its name changed or temporarily unavailable.</p>
			Goback to
			<a th:href="@{/}">Home</a>
			(or) check again your requested URL
		</div>
	</div>
</section>
