<section class="card" th:fragment="content">
	<div class="cardHeader">
		<h1>
			<span>
				<strong>5</strong>
			</span>
			<span>
				<strong>0</strong>
			</span>
			<span>
				<strong>0</strong>
			</span>
		</h1>
	</div>
	<div class="cardContent">
		<h2>
			Error !
			<span>Internal Server Problem</span>
		</h2>
		<hr/>
		<div class="cardFooter">
			<p>We are very sorry, it seems there is a problem with our servers. Please try your request again in a moment.</p>
			Goback to
			<a th:href="@{/}">Home</a>
			(or) Contact Administrators
			<p>
				<small>
					<em>(We apologize for the inconvenience and appreciate your patient)</em>
				</small>
			</p>
		</div>
	</div>
</section>