<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-info elevation-3" th:fragment="main-sidebar" xmlns:th="http://www.thymeleaf.org">
	<!-- Brand Logo -->
	<a class="brand-link" th:href="@{/}">
		<img alt="Site Logo" class="brand-image img-circle elevation-3" style="opacity: .8" th:src="@{/web/static/images/site/logo_white.png}">
		<span class="brand-text font-weight-light" th:text="${appFullName}"></span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img alt="User Image" class="img-circle elevation-2" th:src="@{/web/static/images/avatar/guest.jpg}">
			</div>
			<div class="info">
				<a class="d-block" th:href="@{/}" th:text="${#strings.isEmpty(loginAdministratorName)} ? 'Guest' : ${loginAdministratorName}"></a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-accordion="false"
				data-widget="treeview"
				role="menu">

				<!-- ===================== -->
				<!-- Dashboard -->
				<!-- ===================== -->
				<li class="nav-item"
					th:if="${@perm.has(permissions, 'dashboard')}">

					<a class="nav-link"
					   th:classappend="${pageName == 'Dashboard'} ? 'active' : ''"
					   th:href="@{/web/sec/dashboard}">
						<i class="nav-icon icon-display"></i>
						<p>Dashboard</p>
					</a>
				</li>

				<!-- ===================== -->
				<!-- User -->
				<!-- ===================== -->
				<li class="nav-item"
					th:if="${@perm.has(permissions, 'userList')}">

					<a class="nav-link"
					   th:classappend="${pageName == 'User'} ? 'active' : ''"
					   th:href="@{/web/sec/user}">
						<i class="nav-icon icon-users"></i>
						<p>Users</p>
					</a>
				</li>

				<!-- ===================== -->
				<!-- Balance Transfer -->
				<!-- ===================== -->
				<li class="nav-item"
					th:if="${@perm.has(permissions, 'balanceTransferList')}">

					<a class="nav-link"
					   th:classappend="${pageName == 'BalanceTransfer'} ? 'active' : ''"
					   th:href="@{/web/sec/balance_transfer}">
						<i class="nav-icon fas fa-exchange-alt"></i>
						<p>Balance Transfer</p>
					</a>
				</li>

				<!-- ===================== -->
				<!-- Orders -->
				<!-- ===================== -->
				<li class="nav-item treeview"
					th:classappend="${pageName == 'Product' or pageName == 'ProductVariant' or pageName == 'OrderAuto' or pageName == 'OrderManual' or pageName == 'CouponCode'} ? 'menu-open' : ''"
					th:if="${@perm.hasAny(permissions, 'productList', 'orderAutoList' , 'orderManualList', 'couponCodeList')}">

					<a class="nav-link" href="#">
						<i class="nav-icon fas fa-cart-plus"></i>
						<p>
							Orders <i class="fas fa-angle-left right"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">

						<!-- ===================== -->
						<!-- Products -->
						<!-- ===================== -->
						<li class="nav-item"
							th:if="${@perm.hasAny(permissions, 'productList','productVariantList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'Product' or pageName == 'ProductVariant'} ? 'active' : ''"
							   th:href="@{/web/sec/product}">
								<i class="nav-icon fas fa-tags"></i>
								<p>Products</p>
							</a>
						</li>

						<!-- ===================== -->
						<!-- Auto Orders -->
						<!-- ===================== -->
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'orderAutoList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'OrderAuto'} ? 'active' : ''"
							   th:href="@{/web/sec/order_auto}">
								<i class="nav-icon fas fa-clipboard-list"></i>
								<p>Auto Orders</p>
							</a>
						</li>

						<!-- ===================== -->
						<!-- Manual Orders -->
						<!-- ===================== -->
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'orderManualList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'OrderManual'} ? 'active' : ''"
							   th:href="@{/web/sec/order_manual}">
								<i class="nav-icon fas fa-tasks"></i>
								<p>Manual Orders</p>
							</a>
						</li>

						<!-- ===================== -->
						<!-- Coupon Codes -->
						<!-- ===================== -->
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'couponCodeList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'CouponCode'} ? 'active' : ''"
							   th:href="@{/web/sec/coupon_code}">
								<i class="nav-icon fas fa-credit-card"></i>
								<p>Coupon Codes</p>
							</a>
						</li>

					</ul>
				</li>

				<!-- ===================== -->
				<!-- Topup -->
				<!-- ===================== -->
				<li class="nav-item"
					th:if="${@perm.has(permissions, 'topupList')}">

					<a class="nav-link"
					   th:classappend="${pageName == 'TopUp'} ? 'active' : ''"
					   th:href="@{/web/sec/topup}">
						<i class="nav-icon fas fa-bolt"></i>
						<p>Topup</p>
					</a>
				</li>

				<!-- ===================== -->
				<!-- CashIn -->
				<!-- ===================== -->
				<li class="nav-item treeview"
					th:classappend="${pageName == 'AgentCashIn' or pageName == 'CustomerCashIn' or pageName == 'SelfCashIn'} ? 'menu-open' : ''"
					th:if="${@perm.hasAny(permissions, 'agentCashInList', 'customerCashInList' , 'selfCashInList')}">

					<a class="nav-link" href="#">
						<i class="nav-icon icon-cash3"></i>
						<p>
							Cash In <i class="fas fa-angle-left right"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">

						<li class="nav-item"
							th:if="${@perm.has(permissions, 'agentCashInList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'AgentCashIn'} ? 'active' : ''"
							   th:href="@{/web/sec/agent_cashin}">
								<i class="nav-icon text-purple fas fa-user-friends"></i>
								<p>Agent Cash In</p>
							</a>
						</li>

						<li class="nav-item"
							th:if="${@perm.has(permissions, 'customerCashInList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'CustomerCashIn'} ? 'active' : ''"
							   th:href="@{/web/sec/customer_cashin}">
								<i class="nav-icon text-orange fas fa-user"></i>
								<p>Customer Cash In</p>
							</a>
						</li>

						<li class="nav-item"
							th:if="${@perm.has(permissions, 'selfCashInList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'SelfCashIn'} ? 'active' : ''"
							   th:href="@{/web/sec/self_cashin}">
								<i class="nav-icon text-info fas fa-user-check"></i>
								<p>Self Cash In</p>
							</a>
						</li>

					</ul>
				</li>

				<!-- ===================== -->
				<!-- Wallet Admin -->
				<!-- ===================== -->
				<li class="nav-item"
					th:if="${@perm.has(permissions, 'walletAdminList')}">

					<a class="nav-link"
					   th:classappend="${pageName == 'WalletAdmin'} ? 'active' : ''"
					   th:href="@{/web/sec/wallet_admin}">
						<i class="nav-icon fas fa-wallet"></i>
						<p>Wallet Operation</p>
					</a>
				</li>

				<!-- ===================== -->
				<!-- SMS & Email -->
				<!-- ===================== -->
				<li class="nav-item treeview"
					th:classappend="${pageName == 'SMS' or pageName == 'Email'} ? 'menu-open' : ''"
					th:if="${@perm.hasAny(permissions, 'smsList', 'emailList')}">

					<a class="nav-link" href="#">
						<i class="nav-icon fas fa-envelope-open-text"></i>
						<p>
							SMS &amp; Email <i class="fas fa-angle-left right"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'smsList')}">
							<a class="nav-link"
							   th:classappend="${pageName == 'SMS'} ? 'active' : ''"
							   th:href="@{/web/sec/sms}">
								<i class="nav-icon fas fa-sms"></i>
								<p>SMS</p>
							</a>
						</li>
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'emailList')}">
							<a class="nav-link"
							   th:classappend="${pageName == 'Email'} ? 'active' : ''"
							   th:href="@{/web/sec/email}">
								<i class="nav-icon fas fa-envelope"></i>
								<p>Email</p>
							</a>
						</li>
					</ul>
				</li>

				<!-- ===================== -->
				<!-- Settings -->
				<!-- ===================== -->
				<li class="nav-item treeview"
					th:classappend="${pageName == 'Administrator' or pageName == 'Role' or pageName == 'Actuator' or pageName == 'PaymentGatewayOption' or pageName == 'Notification'} ? 'menu-open' : ''"
					th:if="${@perm.hasAny(permissions, 'administratorList', 'roleList', 'actuatorSettings', 'paymentGatewayOptionSettings', 'notification', 'notificationSettings')}">

					<a class="nav-link" href="#">
						<i class="nav-icon icon-cog3"></i>
						<p>
							Settings <i class="fas fa-angle-left right"></i>
						</p>
					</a>

					<ul class="nav nav-treeview">

						<!-- Administrators -->
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'administratorList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'Administrator'} ? 'active' : ''"
							   th:href="@{/web/sec/administrator}">
								<i class="nav-icon icon-users2"></i>
								<p>Administrators</p>
							</a>
						</li>

						<!-- Roles -->
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'roleList')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'Role'} ? 'active' : ''"
							   th:href="@{/web/sec/role}">
								<i class="nav-icon icon-medal-star"></i>
								<p>Roles</p>
							</a>
						</li>

						<!-- Actuator -->
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'actuatorSettings')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'Actuator'} ? 'active' : ''"
							   th:href="@{/web/sec/settings/actuator}">
								<i class="nav-icon fas fa-heartbeat"></i>
								<p>Actuator</p>
							</a>
						</li>

						<!-- Payment Gateway Option -->
						<li class="nav-item"
							th:if="${@perm.has(permissions, 'paymentGatewayOptionSettings')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'PaymentGatewayOption'} ? 'active' : ''"
							   th:href="@{/web/sec/settings/payment_gateway_option}">
								<i class="nav-icon fas fa-money-check-alt"></i>
								<p>Payment Gateway Option</p>
							</a>
						</li>

						<!-- Notification -->
						<li class="nav-item"
							th:if="${@perm.hasAny(permissions, 'notification', 'notificationSettings')}">

							<a class="nav-link"
							   th:classappend="${pageName == 'Notification'} ? 'active' : ''"
							   th:href="@{/web/sec/notification}">
								<i class="nav-icon fas fa-bell"></i>
								<p>Notification</p>
							</a>
						</li>

					</ul>
				</li>

			</ul>
		</nav>
		<!-- /.sidebar-menu -->

		<!-- /.sidebar-menu -->

	</div>
	<!-- /.sidebar -->
</aside>
