<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-info elevation-3" th:fragment="main-sidebar" xmlns:th="http://www.thymeleaf.org">
	<!-- Brand Logo -->
	<a class="brand-link" th:href="@{/}">
		<img alt="Site Logo" class="brand-image img-circle elevation-3" style="opacity: .8" th:src="@{/web/static/images/site/logo_white.png}">
		<span class="brand-text font-weight-light" th:text="${appFullName}"></span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img alt="User Image" class="img-circle elevation-2" th:src="@{/web/static/images/avatar/guest.jpg}">
			</div>
			<div class="info">
				<a class="d-block" th:href="@{/}" th:text="${#strings.isEmpty(loginUserName)} ? 'Guest' : ${loginUserName}"></a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
				<li class="nav-item" th:if="${dashboard == true}">
					<a class="nav-link" th:classappend="${pageName == 'Dashboard' } ? 'active' : ''" th:href="@{/web/sec/dashboard}">
						<i class="nav-icon icon-display"></i>
						<p>Dashboard</p>
					</a>
				</li>

				<li class="nav-item treeview" th:classappend="${ pageName == 'Role' or pageName == 'Administrator'} ? 'menu-open' : ''" th:if="${administratorList == true or roleList == true}">
					<a class="nav-link" href="#">
						<i class="nav-icon icon-cog3"></i>
						<p>Settings <i class="fas fa-angle-left right"></i></p>
					</a>

					<ul class="nav nav-treeview">
						<li class="nav-item" th:if="${administratorList == true}">
							<a class="nav-link" th:classappend="${pageName == 'Administrator' } ? 'active' : ''" th:href="@{/web/sec/administrator}">
								<i class="nav-icon icon-users2"></i>
								<p>Administrators</p>
							</a>
						</li>

						<li class="nav-item" th:if="${roleList == true}">
							<a class="nav-link" th:classappend="${pageName == 'Role' } ? 'active' : ''" th:href="@{/web/sec/role}">
								<i class="nav-icon icon-medal-star"></i>
								<p>Roles</p>
							</a>
						</li>

					</ul>
				</li>

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
