<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
	<link rel="stylesheet" th:href="@{'/static/css/common/bootstrap-select.min.css?v='+${buildNumber}}">
	<link rel="stylesheet" th:href="@{'/static/css/app/user/input'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
	<script th:src="@{'/static/js/common/bootstrap-select.min.js?v='+${buildNumber}}"></script>
	<script th:src="@{'/static/js/common/jquery.validate.min.js?v='+${buildNumber}}"></script>
	<script th:src="@{'/static/js/app/user/input'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Staff Setup</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<i class="fa fa-home mr-1"></i>
							<a th:href="@{/}">Home</a>
						</li>
						<li class="breadcrumb-item">
							<i class="icon-users2 mr-1"></i>
							<a th:href="@{/sec/staffs}">Staffs</a>
						</li>
						<li class="breadcrumb-item active" th:text="${pageMode.name == 'CREATE' ? 'Add New' : 'Edit'}">Add New</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<section class="content">
		<div class="card card-primary smallPanel">
			<div class="card-header">
				<h3 class="card-title text-center float-none">Please fill-up Required Informations</h3>
			</div>
			<form id="frm-user" method="post" role="form" th:action="@{${pageMode.name == 'CREATE' ? '/sec/staffs/add' : '/sec/staffs/' + userDto.id +'/edit' }}" th:object="${userDto}">
				<input id="hdn-user-id" th:if="${pageMode.name == 'EDIT'}" th:value="${userDto.id}" type="hidden">

				<div class="card-body">

					<div class="form-group row" th:if="${#authorization.expression('hasAuthority(''SUPER-USER'')')}">
						<label class="col-sm-6 col-md-3 col-form-label text-right required" for="roleIds">Bank</label>
						<div class="col-sm-6 col-md-4">
							<select class="dropdown-select form-control input-sm bank-selectpicker show-tick" data-live-search="true" data-size="5" id="lst-bank" title="Select Bank">
							</select>
						</div>
						<label class="col-sm-6 col-md-1 col-form-label text-right required" for="status">Branch</label>
						<div class="col-sm-6 col-md-4">
							<select class="dropdown-select form-control  input-sm branch-selectpicker show-tick" data-live-search="true" data-size="5" id="lst-branch" th:field="*{branchId}" title="Select Branch">
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-right required" for="officerName">Officer Name : </label>
						<div class="col-sm-9">
							<input class="form-control form-control-sm" id="officerName" name="officerName" placeholder="Officer Full Name" th:field="*{officerName}" type="text"/>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-right required" for="officerRank">Officer Rank : </label>
						<div class="col-sm-9">
							<input class="form-control form-control-sm" id="officerRank" placeholder="Officer Rank" th:field="*{officerRank}" type="text"/>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-right required" for="loginId">Login ID : </label>
						<div class="col-sm-9" th:classappend="${pageMode.name == 'EDIT' } ? 'col-form-label' : ''" th:switch="${pageMode.name}">
							<div th:class="${pageMode.name == 'EDIT'} ? 'd-inline-block' : ''">
								<input class="form-control form-control-sm" id="loginId" placeholder="Enter Login ID" th:case="'CREATE'" th:field="*{loginId}" type="text"/>
								<span th:case="'EDIT'" th:text="${userDto.loginId}"></span>
							</div>
							<div class="d-inline-block ml-3" th:if="${pageMode.name == 'EDIT'}">
								<button class="btn btn-flat btn-secondary" id="btnResetPassword" type="button">
									<i class="fas fa-eraser mr-1"></i> Reset Password
								</button>
							</div>
						</div>
						<input th:field="*{loginId}" th:if="${pageMode.name == 'EDIT'}" type="hidden">
					</div>

					<div class="form-group row" th:if="${pageMode.name == 'CREATE'}">
						<label class="col-sm-3 col-form-label text-right required" for="password">Password : </label>
						<div class="col-sm-9">
							<input class="form-control form-control-sm" id="password" name="password" placeholder="Enter User Password" th:field="*{password}" type="password"/>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-right required" for="contactPhone">Phone : </label>
						<div class="col-sm-9">
							<input class="form-control form-control-sm" id="contactPhone" name="contactPhone" placeholder="Contact Phone" th:field="*{contactPhone}" type="text"/>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-6 col-md-3 col-form-label text-right required" for="roleIds">Roles : </label>
						<div class="col-sm-6 col-md-5">
							<select class="form-control selectpicker show-tick" data-live-search="true" data-size="5" id="roleIds" multiple="multiple" th:attr="data-selected=${userDto.roleIds}" th:field="*{roleIds}" title="Select ...">
							</select>
						</div>
						<label class="col-sm-6 col-md-1 col-form-label text-right required" for="status">Status : </label>
						<div class="col-sm-6 col-md-3">
							<select class="form-control selectpicker show-tick" id="status" name="status" th:field="*{status}">
								<option value="ACTIVE">Active</option>
								<option value="LOCKED">Locked</option>
								<option value="BLACKLISTED">Blacklisted</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-3 col-form-label text-right required" for="remark">Remark : </label>
						<div class="col-sm-9">
							<textarea class="form-control" id="remark" name="remark" placeholder="Remark" rows="5" th:field="*{remark}" type="text"></textarea>
						</div>
					</div>
				</div>

				<div class="card-footer text-center">
					<button class="btn btn-flat mr-1 btn-primary" id="btnSubmit" type="submit">
						<i class="fas fa-save"></i> Save
					</button>
					<button class="btn btn-flat mr-1 btn-warning" id="btnReset" type="button">
						<i class="fas fa-recycle"></i> Reset
					</button>
					<button class="btn btn-flat mr-1 btn-danger" id="btnCancel" type="button">
						<i class="fas fa-undo"></i> Cancel
					</button>
				</div>
			</form>
		</div>
	</section>

	<div class="modal fade" id="modal-reset-password" role="dialog" tabindex="-1">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Reset Password</h5>
					<button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
				</div>
				<div class="modal-body">
					<form id="frmResetPassword">
						<div class="form-group row">
							<label class="col-sm-4 col-form-label required" for="newPassword">Enter New Password :</label>
							<div class="col-sm-8">
								<input class="form-control form-control-sm" id="newPassword" name="newPassword" type="password"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer text-center">
					<button class="btn btn-flat btn-primary" id="btnSaveNewPassword" type="button">
						<i class="fas fa-save"></i> Save
					</button>
					<button class="btn btn-flat btn-danger" data-dismiss="modal" type="button">
						<i class="fas fa-times"></i> Close
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
