<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Staff Detail Informations</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<i class="fa fa-home mr-1"></i>
							<a th:href="@{/}">Home</a>
						</li>
						<li class="breadcrumb-item">
							<i class="icon-medal-star mr-1"></i>
							<a th:href="@{/sec/staffs}">Staffs</a>
						</li>
						<li class="breadcrumb-item active">Detail</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="card card-secondary card-outline smallPanel">
			<div class="card-body box-profile">
				<div class="text-center">
					<img alt="" class="profile-user-img img-fluid img-circle" th:src="@{/web/static/images/avatar/guest.jpg}" width="250px"/>
				</div>

				<h4 class="profile-username text-center" th:text="${userDto.officerName}"></h4>

				<ul class="list-group list-group-unbordered mb-3">
					<li class="list-group-item">
						<b>Login ID</b>
						<a class="float-right" th:text="${userDto.loginId}"></a>
					</li>
					<li class="list-group-item">
						<b>Branch</b>
						<a class="float-right" th:text="${userDto.branch.name}"></a>
					</li>
					<li class="list-group-item">
						<b>Rank</b>
						<a class="float-right" th:text="${userDto.officerRank}"></a>
					</li>
					<li class="list-group-item">
						<b>Phone</b>
						<a class="float-right" th:text="${userDto.contactPhone}"></a>
					</li>
					<li class="list-group-item">
						<b>Status</b>
						<a class="float-right" th:text="${#strings.toLowerCase(userDto.status)}"></a>
					</li>
					<li class="list-group-item">
						<b>Roles</b>
						<a class="float-right" th:text="${roleNames}"></a>
					</li>
					<li class="list-group-item">
						<b>Remark</b>
						<a class="float-right" th:text="${userDto.remark}"></a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>